:root {
    --primary-color: #009688;
    --font-color: #161c2db3;
    --font-color: #0e131fb3;
    --heading-color: #252422;
    --bg-white: #fff;
    --bg-light: rgba(130, 115, 252, .05); /** #8273fc0d */
    --bg-grey: #f7f7f7;
    --dark: #0f1113;
    --font: "Hind Siliguri", sans-serif;
    --font: "Nata Sans", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.8rem;
    background-color: var(--bg-grey);
    color: var(--font-color);
    font-family: var(--font);
    line-height: 1.5;
}

h1, h2, h3, h4 {
    color: var(--heading-color);
}

h1 { font-size: 6rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 130rem;
    width: 94%;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: var(--bg-white);
    padding: 2rem 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-size: 3rem;
    font-weight: bold;
    color: var(--font-color);
}

.navbar__logo span {
    color: var(--primary-color);
}

.navbar__links {
    display: flex;
    gap: 2.2rem;
}

.navbar__link {
    font-size: 1.8rem;
    color: var(--font-color);
    transition: color 0.3s ease;
    font-weight: 500;
}


/* Hero */
.hero {
    height: calc(100vh - 8rem); /* Adjust for header height */
    background-image: url('../img/hero-2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero__gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    background-color: rgba(0, 0, 0, 0.5);
}

.hero__content {
    z-index: 1;
    position: relative;
    color: var(--bg-white);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    color: var(--bg-white);
    margin: 0 0 2rem;
}

.hero__button {
    width: fit-content;
    padding: 1.5rem 3rem;
    background-color: var(--bg-white);
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.hero__button:hover {
    background-color: var(--primary-color);
    color: var(--bg-white);
}
